In [4]:
!curl 'https://www.telepac.agriculture.gouv.fr/telepac/tbp/feader/exportlistebeneficiaires.action' \
    -H 'Origin: https://www.telepac.agriculture.gouv.fr' \
    -H 'Accept-Encoding: gzip, deflate' \
    -H 'Accept-Language: en-US,en;q=0.8,de;q=0.6' \
    -H 'Content-Type: multipart/form-data; boundary=----WebKitFormBoundaryNirZXEmQej1tmwcp' \
    -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8' \
    -H 'Cache-Control: max-age=0' \
    -H 'Referer: https://www.telepac.agriculture.gouv.fr/telepac/tbp/feader/afficher.action' \
    -H 'Connection: keep-alive' -H 'DNT: 1' \
    --data-binary $'------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="page"\r\n\r\n0\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="nbResultats"\r\n\r\n\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="isCompter"\r\n\r\nfalse\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="afficherResultatsAction"\r\n\r\nafficherResultats.action\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="rechercheExploitant.campagne"\r\n\r\n2015\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="rechercheExploitant.nomRaisonSociale"\r\n\r\n\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="rechercheExploitant.libelleCommune"\r\n\r\n\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="rechercheExploitant.codePostal"\r\n\r\n\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp\r\nContent-Disposition: form-data; name="rechercheExploitant.codeRubrique"\r\n\r\n-1\r\n------WebKitFormBoundaryNirZXEmQej1tmwcp--\r\n' \
    --compressed > france_2014_raw.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 72.7M    0 72.7M  100  1070  2234k     32  0:00:33  0:00:33 --:--:-- 2135k

In [5]:
import pandas as pd

In [9]:
df = pd.read_csv('france_2014_raw.csv', delimiter=';', encoding='latin1')
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique
0,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"385,41"
1,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"1199,58"
2,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"305,47"
3,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"700,95"
4,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"354,21"

In [11]:
list(df.columns)

[u'Nom / Raison sociale',
 u' Commune',
 u' Code postal',
 u' Libell\xe9 rubrique',
 u' Montant rubrique']

In [12]:
df['amount'] = pd.to_numeric(df[' Montant rubrique'].str.replace(',', '.'))
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique,amount
0,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"385,41",385.41
1,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"1199,58",1199.58
2,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"305,47",305.47
3,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"700,95",700.95
4,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"354,21",354.21

In [20]:
df[' Code postal'].value_counts()

64120    2564
64220    1941
50XXX    1846
64130    1714
64XXX    1576
24XXX    1341
12120    1319
64240    1304
15100    1240
43170    1212
12210    1186
15130    1162
12170    1159
15400    1139
35XXX    1082
12240    1080
12200    1064
43300    1063
38XXX    1055
32XXX    1047
15500    1041
43200    1036
64160    1033
15600    1032
63XXX    1032
31XXX    1030
12290    1012
03130    1007
32300     995
71800     983
         ...
36019       1
33192       1
75665       1
77138       1
92522       1
42007       1
42006       1
42003       1
83140       1
17030       1
33451       1
78108       1
51202       1
62251       1
10041       1
13270       1
59831       1
44275       1
62252       1
62253       1
-5500       1
64105       1
64109       1
60803       1
13603       1
13601       1
35513       1
94225       1
75181       1
47006       1
Name:  Code postal, dtype: int64

In [15]:
df.groupby('Nom / Raison sociale')['amount'].sum().sort_values(ascending=False)

Nom / Raison sociale
SUCRIERE DE LA REUNION SAS                                     31745959.02
XXX                                                            26357739.20
COPFEL                                                         21896482.32
STE NOM CO COCOTERAIE DES SABLES                               14587873.66
URCOOPA                                                        13739167.81
ETS PUB AD DEPARTEMENT DE LA REUNION                           13503976.99
SUCRERIE DE BOIS ROUGE                                         13474685.02
GARDEL SA                                                      13061394.02
AUTRE COLLECT TERRITORIALE CONSEIL GENERAL DE LA GUADELOUPE     9490291.11
VIVEA (FAF SUI GENERIS)                                         7904941.98
SCA FRANCE CHAMPIGNON                                           7602454.79
SCA L'UNION FERMIERE MORBIHANNAISE - UFM                        7601331.34
ARIBEV                                                          7466686.20
BIRET                                                           6850329.00
AGRIAL                                                          5798939.45
SCA SAVEOL                                                      5171038.56
PETIT MORNE SARL                                                4429891.88
CHAMBRE DEPT D AGRICULTURE CHAMBRE D AGRICULTURE                4305034.73
SA BOIS DEBOUT                                                  4188482.30
GMA                                                             3905368.29
UNION DES DISTILLERIES DE LA MEDITERRANEE                       3788923.30
SCA OCEANE                                                      3773232.09
CAFEIERE SAS                                                    3727041.19
AMIV                                                            3718119.73
GRAP'SUD                                                        3573298.56
CONSEIL INTERPROF DU VIN DE BORDEAUX                            3501526.11
SA DES SUCRERIES ET RHUMERIES DE MARIE GALANTE                  3441360.51
EARL DU MOULIN                                                  3331594.92
ETS PUBLIC AGENCE DE SERVICES ET DE PAIEMENT                    3283650.32
UNION DES COOPERATIVES VINICOLES D'AQUITAINE UCVA               3174051.67
                                                                  ...
TIPHAIGNE MICHEL                                                   1250.87
GUIVARC H NICOLAS                                                  1250.82
AUBRUN JEAN MICHEL                                                 1250.82
DENIAU WILLY                                                       1250.79
PLELAN ISABELLE                                                    1250.77
HUON ERIC                                                          1250.76
GUIBE GENEVIEVE                                                    1250.75
BLEUZEN DOMINIQUE                                                  1250.75
DIRIDOLLOU JEANNE                                                  1250.68
PERROT BENOIT                                                      1250.66
ALBOUY FREDERIC                                                    1250.58
TRICHEUX JACQUES                                                   1250.57
BRUNE PAULETTE                                                     1250.54
SUTTER ROSE                                                        1250.53
JACQUET LOIC                                                       1250.50
BEAULIEU CHRISTIAN                                                 1250.45
DESCOMBES JEAN-PAUL                                                1250.34
FLACHER JOSEPH                                                     1250.33
ANDREUZZA PATRICK                                                  1250.29
WARLOP BERNARD                                                     1250.28
MOYRET MARGUERITE                                                  1250.24
BOUSSARD GERARD                                                    1250.22
BEC EVELYNE                                                        1250.20
BEAUX MARIE LOUISE                                                 1250.20
GARRIDO MAX                                                        1250.20
LASSEGUE JEAN PIERRE                                               1250.14
BOUSSEAU MARIE-ANDREE                                              1250.12
DELATTRE PATRICE                                                   1250.10
FOURETIER REGIS                                                    1250.08
BARRET RENE                                                        1250.02
Name: amount, dtype: float64

In [21]:
df.head()

,Nom / Raison sociale,Commune,Code postal,Libellé rubrique,Montant rubrique,amount
0,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"385,41",385.41
1,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"1199,58",1199.58
2,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"305,47",305.47
3,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"700,95",700.95
4,XXX,XXX,01XXX,III.4 - Aide lait à l'école,"354,21",354.21

In [26]:
df = df.rename(columns={
    'Nom / Raison sociale': 'recipient_name',
    ' Commune': 'recipient_location',
    ' Code postal': 'recipient_postcode',
    u' Libellé rubrique': 'scheme'
})
df = df.drop(' Montant rubrique', 1)
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount
0,XXX,,01XXX,III.4 - Aide lait à l'école,385.41
1,XXX,,01XXX,III.4 - Aide lait à l'école,1199.58
2,XXX,,01XXX,III.4 - Aide lait à l'école,305.47
3,XXX,,01XXX,III.4 - Aide lait à l'école,700.95
4,XXX,,01XXX,III.4 - Aide lait à l'école,354.21

In [24]:
df['recipient_location'] = df['recipient_location'].where(df['recipient_location'] != 'XXX', '')
df.head()

,recipient_name,recipient_location,recipient_postcode,Libellé rubrique,amount
0,XXX,,01XXX,III.4 - Aide lait à l'école,385.41
1,XXX,,01XXX,III.4 - Aide lait à l'école,1199.58
2,XXX,,01XXX,III.4 - Aide lait à l'école,305.47
3,XXX,,01XXX,III.4 - Aide lait à l'école,700.95
4,XXX,,01XXX,III.4 - Aide lait à l'école,354.21

In [27]:
df['recipient_name'] = df['recipient_name'].where(df['recipient_name'] != 'XXX', '')
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount
0,,,01XXX,III.4 - Aide lait à l'école,385.41
1,,,01XXX,III.4 - Aide lait à l'école,1199.58
2,,,01XXX,III.4 - Aide lait à l'école,305.47
3,,,01XXX,III.4 - Aide lait à l'école,700.95
4,,,01XXX,III.4 - Aide lait à l'école,354.21

In [34]:
from slugify import slugify

df['year'] = 2014
df['recipient_id'] = df.apply(lambda x: 'FR-%s-%s' % (x['recipient_postcode'],
                                                     slugify(x['recipient_name']) if x['recipient_name'] else '%s-%s' % (x['year'], x.name)), 1)
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount,recipient_id,year
0,,,01XXX,III.4 - Aide lait à l'école,385.41,FR-01XXX-2014-0,2014
1,,,01XXX,III.4 - Aide lait à l'école,1199.58,FR-01XXX-2014-1,2014
2,,,01XXX,III.4 - Aide lait à l'école,305.47,FR-01XXX-2014-2,2014
3,,,01XXX,III.4 - Aide lait à l'école,700.95,FR-01XXX-2014-3,2014
4,,,01XXX,III.4 - Aide lait à l'école,354.21,FR-01XXX-2014-4,2014

In [33]:
df['recipient_id'].value_counts().count()

426279

In [35]:
df['currency'] = 'EUR'
df['country'] = 'FR'
df.head()

,recipient_name,recipient_location,recipient_postcode,scheme,amount,recipient_id,year,currency,country
0,,,01XXX,III.4 - Aide lait à l'école,385.41,FR-01XXX-2014-0,2014,EUR,FR
1,,,01XXX,III.4 - Aide lait à l'école,1199.58,FR-01XXX-2014-1,2014,EUR,FR
2,,,01XXX,III.4 - Aide lait à l'école,305.47,FR-01XXX-2014-2,2014,EUR,FR
3,,,01XXX,III.4 - Aide lait à l'école,700.95,FR-01XXX-2014-3,2014,EUR,FR
4,,,01XXX,III.4 - Aide lait à l'école,354.21,FR-01XXX-2014-4,2014,EUR,FR

In [36]:
df.to_csv('fr_2014.csv', index=False, encoding='utf-8')